.session.form
  = form_for (@user) do |f|
    %p
    = f.label :email_address
    %br
    = f.text_field :email_address
    %p
    = f.label :password
    %br
    = f.text_field :password
    %br
    = f.submit "Login", method: "post"