.session.form
  = form_for @user, url: login_path do |f|
    %p
    = f.label :email_address
    %br
    = f.text_field :email_address
    %p
    = f.label :password
    %br
    = f.password_field :password
    %br
    = f.submit "Login", method: "post"