%h2 All Security Types
%br
.container-fluid
  .row
    - @securities.each do |security|
      .security.col-md-4
        %p
        = link_to security.security_type, security_tickers_path(security, security.tickers)
        %br
        - if current_admin?
          %p
            = link_to "Delete", admin_security_path(security), method: "delete", id: "del_security_#{security.id}"
          %p 
            = link_to "Update", edit_admin_security_path(security), id: "update_security_#{security.id}"
  .row.security_links
    - if current_admin?
      %p
      = link_to "Create Security Type", new_admin_security_path